.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  footer {
          background-color: rgb(34, 32, 32);
          /* padding: 2px; */
  }

  body{
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
   }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: 100;
    text-align: center;
    color: rgba(198, 222, 178, 1)
    
  }
  
  .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 35px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 15%;
  padding: 0 20px;
  }

  .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  }
  .work-container{
      background-color: transparent;
      margin-top:7%;
      text-align: center;
  }

  #rig {
      vertical-align: center;
      height: 70%;
      max-width:50%;
      margin:0 auto; 
      padding:0;
      font-size:0;
      list-style:none;
      background-color: transparent;
     
      
  }
  #rig li {
      display: inline-block;
      *display:inline;
      width:25%;
      vertical-align:middle;
      box-sizing:border-box;
      margin:0;
      padding:0;
  }
  
  .rig-cell {
      /*margin:12px;
      box-shadow:0 0 6px rgba(0,0,0,0.3);*/
      display:block;
      position: relative;
      overflow:hidden;
      
  }
  .rig-img {
      display:block;
      width: 100%;
      height: auto;
      border:none;
      transform:scale(1);
      transition:all 1s;
      border-radius: 50px;
      filter: blur(1px)
      opacity(80%)
  }

  #rig li:hover .rig-img {
      transform:scale(1.02);
  }
          
  .rig-overlay {
      position: absolute;
      display:block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: #0A1931 url(img/link.png) no-repeat center 20%;
      background-size:50px 50px;
      opacity:0;
      filter:alpha(opacity=0);
      transition:all 0.6s;
  }
  #rig li:hover .rig-overlay {
      opacity: 0.01;
  }
  .rig-text {
      display:block;
      padding:0 30px;
      box-sizing:border-box;
      position:absolute;
      left:0;
      width:100%;
      text-align:center;
      text-transform:capitalize;
      font-size:18px;
      font-weight:bold;
      font-family: 'Oswald', sans-serif;
      font-weight:normal!important;
      top:40%;
      color:white;
      opacity:0;
      filter:alpha(opacity=0);
      transform:translateY(-20px);
      transition:all .3s;
  }
  #rig li:hover .rig-text {
      transform:translateY(0px);
      opacity:0.9;
  }
  @media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
  #rig li {
          width:33.33%;
      }
  }

  @media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  #rig li {
          width:50%;
      }
  }
